/*
 * -------------------------------------------------
 *  ClinBioNGS Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Specific config options should be saved in the
 * 'config' folder and imported under a profile
 * name here.
 */

manifest {
	name = 'ClinBioNGS'
	description = 'An open-source, comprehensive bioinformatics pipeline for the analysis of somatic NGS cancer panels.'
	homePage = 'https://github.com/raulmarinm/ClinBioNGS'
	author = 'Raúl Marín'
	version = '1.0'
	mainScript = 'main.nf'
	nextflowVersion = '>=21.04.1'
}


/*
 * Global default params, used in configs
 */

params {

	// Initial parameters
	runName          = 'ClinBioNGS-RUN'
	seqPanel         = ''
	codeDir          = "${projectDir}/bin"
	projectDir       = "${projectDir}"
	dataDir          = "${projectDir}"
	startingDataDir  = "${projectDir}"
	sampleSheet      = "${projectDir}/SampleSheet.csv"
	resourcesDir     = "${projectDir}/resources"
	sampleSheetDir   = "${resourcesDir}/sampleSheets"
	manifestDir      = "${resourcesDir}/manifests"
	clinicalInfoFile = "${resourcesDir}/SampleInfo.csv"
	libraryName      = 'VariantLibrary'

	// Run parameters
	startingDataType             = 'FASTQ'
	seqPlatform                  = 'Illumina'
	amplicon                     = false
	DNA                          = true
	RNA                          = true
	singleEnd                    = false
	umiDna                       = false
	umiRna                       = false
	prepareIontorrentBam         = false
	prepareIontorrentSamplesheet = false

	// Manifest parameters
	dnaManifest               = "${manifestDir}/DNA_manifest.bed"
	rnaManifest               = "${manifestDir}/RNA_manifest.bed"
	manifestToBed             = false
	liftoverManifest          = false
	annotateGenesBed          = false
	prepareIontorrentManifest = false

	// Pipeline steps
	fastqGeneration        = true
	fastqProcessing        = true
	fastqQC                = true
	alignment              = true
	deduplicationDna       = true
	deduplicationRna       = true
	realignment            = true
	smallVariantCalling    = true
	smallVariantAnnotation = true
	tmb                    = true
	cna                    = true
	msi                    = true
	fusion                 = true
	splicing               = true
	multiqcRun             = true
	sampleReport           = true
	runLibrary             = true
	uniqueLibrary          = true
	downloadVepCache       = false
	pdx                    = false
	resourcesOnly          = false
	prepareImages          = false
	

	// Default directories
	annotationDir   = "${resourcesDir}/annotation"
	cnaDir          = "${resourcesDir}/cna"
	ctatLibDir      = "${resourcesDir}/ctat"
	fusionDir       = "${resourcesDir}/fusion"
	genomeDir       = "${resourcesDir}/genomes"
	msiDir          = "${resourcesDir}/msi"
	singularityDir  = "${resourcesDir}/singularity"
	smallVariantDir = "${resourcesDir}/smallVariant"
	splicingDir     = "${resourcesDir}/splicing"

	// Tumor names
	tumorNamesFile = "${resourcesDir}/TumorNames.csv"

	// Whitelist genes
	whitelistGenesCsv = "${resourcesDir}/WhitelistGenes.csv"

	// BamQC analysis
	pctXCoverageDna = '5,10,30,50,100,200,300,500,700,1000'
	lowCoverageDna  = '100'
	pctXCoverageRna = '5,10,30,50,100,200,300,500,700,1000'
	lowCoverageRna  = '100'

	// SmallVariant analysis
	variantCallers                   = 'pisces,mutect2,vardict,octopus'
	variantCallers_IonTorrent        = 'pisces,mutect2,vardict,octopus,tvc'
	decomposeMnv                     = false
	variantIntervalPadding           = '25'
	variantMinCallers                = '2'
	variantMinAD                     = '5'
	variantMinAD_PanelHotspot        = '5'
	variantMinDP                     = '10'
	variantMinDP_PanelHotspot        = '10'
	variantMinVAF                    = '0.01'
	variantMinVAF_PanelHotspot       = '0.01'
	variantSomaticMaxpVAF            = '0.0005'
	variantSomaticMaxVAF             = '0.9'
	torrentVariantCallerJson         = "${smallVariantDir}/TorrentVariantCallerParameters.json"
	variantConsensusVcfHeader        = "${smallVariantDir}/SmallVariantConsensus_vcfHeader.txt"
	variantAnnotationVcfHeader       = "${smallVariantDir}/SmallVariantAnnotation_vcfHeader.txt"
	prepareIontorrentVariantHotspots = false
	variantHotspotBed                = ""
	liftoverVariantHotspotBed        = false
	variantBlacklistBed              = ""
	liftoverVariantBlacklistBed      = false
	variantRecurrentFile             = ""

	// CNA analysis
	cnaCallingThresholds = '-1.2,-0.4,0.4,0.8,1.2,1.5,1.7'
	cnaMinTargetBins     = '4'
	cnaHighAmpCN         = '5'
	cnaHighDelCN         = '0'
	cnvkitBaseline       = "${cnaDir}/CNA_baseline.cnn"
	cnaVcfHeader         = "${cnaDir}/CNA_vcfHeader.txt"
	ascetsResources      = "${cnaDir}/ascets_resources.R"

	// Fusion analysis
	fusionCallingMinJunctionReads = '5'
	fusionCallingMinSpanningReads = '0'
	fusionCallingMinAD            = '5'
	fusionCallingMinFFPM          = '1'
	fusionFlagMinAD               = '10'
	fusionFlagMinNonFused         = '5'
	fusionFlagMinDP               = '20'
	fusionFlagMinVAF              = '0.03'
	fusionVcfHeader               = "${fusionDir}/Fusion_vcfHeader.txt"
	fusionWhitelistFile           = "${fusionDir}/Fusion_whitelist.csv"

	// Splicing analysis
	splicingCallingMinAD     = '10'
	splicingFlagMinAD        = '100'
	splicingFlagMinDP        = '200'
	splicingFlagMinVAF       = '0.03'
	splicingVcfHeader        = "${splicingDir}/Splicing_vcfHeader.txt"
	splicingWhitelistFile    = "${splicingDir}/Splicing_whitelist.csv"

	// TMB analysis
	tmbMinAD          = '5'
	tmbMinDP          = '100'
	tmbMinVAF         = '0.05'
	tmbSomaticMaxpVAF = '0'
	tmbSomaticMaxVAF  = '0.9'

	// MSI analysis
	msiBaseline = ''

	// Plotting parameters
	bamqc_plotMarkChrCoverageDna     = 'false'
	bamqc_plotGlobalLabelAllGenesDna = 'false'
	bamqc_plotByGeneAllDna           = 'false'
	bamqc_plotMarkChrCoverageRna     = 'false'
	bamqc_plotGlobalLabelAllGenesRna = 'false'
	bamqc_plotByGeneAllRna           = 'false'
	cna_plotGlobalLabelAllGenes      = 'false'
	cna_plotByGeneAll                = 'false'

	// Report: DNA QC parameters
	qc_covByExonAllGenesDna        = 'false'
	qcRange_totalReadsDna          = '-'
	qcRange_alignedReadsDna        = '-'
	qcRange_alignedReadsPctDna     = '-'
	qcRange_ontargetReadsDna       = '-'
	qcRange_ontargetReadsPctDna    = '40-70'
	qcRange_hqAlignedReadsDna      = '-'
	qcRange_hqAlignedReadsPctDna   = '-'
	qcRange_medianReadLengthDna    = '-'
	qcRange_medianInsertSizeDna    = '-'
	qcRange_uniqueReadsDna         = '-'
	qcRange_duplicateReadsPctDna   = '-'
	qcRange_medianCoverageDna      = '-'
	qcRange_meanCoverageDna        = '-'
	qcRange_pct04xMeanCoverageDna  = '70-80'
	qcRange_pct100xCoverageDna     = '80-90'
	qcRange_pct1000xCoverageDna    = '-'

	// Report: RNA QC parameters
	qc_covByExonAllGenesRna        = 'false'
	qcRange_totalReadsRna          = '-'
	qcRange_alignedReadsRna        = '-'
	qcRange_alignedReadsPctRna     = '-'
	qcRange_ontargetReadsRna       = '-'
	qcRange_ontargetReadsPctRna    = '-'
	qcRange_hqAlignedReadsRna      = '-'
	qcRange_hqAlignedReadsPctRna   = '-'
	qcRange_medianReadLengthRna    = '-'
	qcRange_medianInsertSizeRna    = '-'
	qcRange_uniqueReadsRna         = '-'
	qcRange_duplicateReadsPctRna   = '-'
	qcRange_medianCoverageRna      = '-'
	qcRange_meanCoverageRna        = '-'
	qcRange_pct04xMeanCoverageRna  = '-'
	qcRange_pct100xCoverageRna     = '-'
	qcRange_pct1000xCoverageRna    = '-'


	// Genome versions
	genomeVersionGrc = 'GRCh38'
	genomeVersionHg  = 'hg38'

	// MANE files
	maneVersion     = '1.4'
	maneGtfLink     = "https://ftp.ncbi.nlm.nih.gov/refseq/MANE/MANE_human/release_${maneVersion}/MANE.${genomeVersionGrc}.v${maneVersion}.ensembl_genomic.gtf.gz"
	maneSummaryLink = "https://ftp.ncbi.nlm.nih.gov/refseq/MANE/MANE_human/release_${maneVersion}/MANE.${genomeVersionGrc}.v${maneVersion}.summary.txt.gz"

	// UCSC cytoband BED
	cytobandLink = "https://hgdownload.cse.ucsc.edu/goldenpath/${genomeVersionHg}/database/cytoBand.txt.gz"	

	// CTAT resource
	ctatLibName         = 'GRCh38_gencode_v44_CTAT_lib_Oct292023'
	ctatLibLink         = "https://data.broadinstitute.org/Trinity/CTAT_RESOURCE_LIB/${ctatLibName}.plug-n-play.tar.gz"
	ctatAnnotFilterLink = 'https://data.broadinstitute.org/Trinity/CTAT_RESOURCE_LIB/AnnotFilterRule.pm'
	ctatLibSplicingLink = 'https://data.broadinstitute.org/Trinity/CTAT_RESOURCE_LIB/CANCER_SPLICING_LIB_SUPPLEMENT/cancer_introns.GRCh38.Jun232020.tsv.gz'

	// Genome FASTA links
	dnaGenomeLink       = 's3://ngi-igenomes/igenomes/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/'
	mouseGenomeLink     = 's3://ngi-igenomes/igenomes/Mus_musculus/NCBI/GRCm38/Sequence/WholeGenomeFasta/'

	// VEP resources
	vepVersion        = '113'
	vepSpecie         = 'homo_sapiens'
	caddVersion       = '1.7'
	caddSnvLink       = "https://krishna.gs.washington.edu/download/CADD/v${caddVersion}/${genomeVersionGrc}/whole_genome_SNVs.tsv.gz"
	caddIndelLink     = "https://krishna.gs.washington.edu/download/CADD/v${caddVersion}/${genomeVersionGrc}/gnomad.genomes.r4.0.indel.tsv.gz"
	revelVersion      = '1.3'
	revelLink         = "https://zenodo.org/records/7072866/files/revel-v${revelVersion}_all_chromosomes.zip?download=1"	
	alphaMissenseLink = "https://storage.googleapis.com/dm_alphamissense/AlphaMissense_${genomeVersionHg}.tsv.gz"
	clinvarDate       = '20241103'
	clinvarLink       = "https://ftp.ncbi.nlm.nih.gov/pub/clinvar/vcf_${genomeVersionGrc}/weekly/clinvar_${clinvarDate}.vcf.gz"

	// Network of Cancer Genes (NCG) resource
	ncgVersion = '7.1'
	
	// Cancer hotspots
	hotspotsWhitelistBedLink = 'https://raw.githubusercontent.com/mskcc/vcf2maf/v1.6.19/data/known_somatic_sites.bed'
	cancerhotspotsVersion    = '2'
	cancerhotspotsLink       = "https://www.cancerhotspots.org/files/hotspots_v${cancerhotspotsVersion}.xls"
	
	// UCSC problematic regions
	ucscProblematicAccessDate = '20240606'
	ucscUnusualRegionsLink    = "http://hgdownload.soe.ucsc.edu/gbdb/${genomeVersionHg}/problematic/comments.bb"
	ucscEncodeBlacklistLink   = "http://hgdownload.soe.ucsc.edu/gbdb/${genomeVersionHg}/problematic/encBlacklist.bb"
	ucscGrcExclusionsLink     = "http://hgdownload.soe.ucsc.edu/gbdb/${genomeVersionHg}/problematic/grcExclusions.bb"
	
	// GIAB stratifications
	giabVersion     = '3.5'
	giabRepeatsLink = "https://ftp-trace.ncbi.nlm.nih.gov/ReferenceSamples/giab/release/genome-stratifications/v${giabVersion}/${genomeVersionGrc}@all/LowComplexity/${genomeVersionGrc}_AllTandemRepeatsandHomopolymers_slop5.bed.gz"
	giabSegDupLink  = "https://ftp-trace.ncbi.nlm.nih.gov/ReferenceSamples/giab/release/genome-stratifications/v${giabVersion}/${genomeVersionGrc}@all/SegmentalDuplications/${genomeVersionGrc}_segdups.bed.gz"
	giabLowMapLink  = "https://ftp-trace.ncbi.nlm.nih.gov/ReferenceSamples/giab/release/genome-stratifications/v${giabVersion}/${genomeVersionGrc}@all/Mappability/${genomeVersionGrc}_lowmappabilityall.bed.gz"
	giabMhcLink     = "https://ftp-trace.ncbi.nlm.nih.gov/ReferenceSamples/giab/release/genome-stratifications/v${giabVersion}/${genomeVersionGrc}@all/OtherDifficult/${genomeVersionGrc}_MHC.bed.gz"
	giabVdjLink     = "https://ftp-trace.ncbi.nlm.nih.gov/ReferenceSamples/giab/release/genome-stratifications/v${giabVersion}/${genomeVersionGrc}@all/OtherDifficult/${genomeVersionGrc}_VDJ.bed.gz"
	
	// Mismatch repair (MMR) gene set
	msigdbVersion = '2024.1'
	mmrGenesFile = "${annotationDir}/MMR_genes_MSigDB_v${msigdbVersion}.csv"

	// ClinGen/CGC/VICC SOP oncogenic mutations
	sopOncogenicFile = "${annotationDir}/ClinGen-CGC-VICC_SOP_mutations_Oncogenic.txt"

	// GENIE resource
	genieVersion          = '16.1'
	genieMutCountsFile    = "${annotationDir}/GENIE_v${genieVersion}_Mutations_counts.txt"
	genieMutOncogenicFile = "${annotationDir}/GENIE_v${genieVersion}_Mutations_oncogenic.txt"
	genieCnaFile          = "${annotationDir}/GENIE_v${genieVersion}_CNAs.txt"
	genieFusionFile       = "${annotationDir}/GENIE_v${genieVersion}_Fusions.txt"

	// CGI oncogenic mutations
	cgiMutationsDate = '20180130'
	cgiMutationsLink = "https://www.cancergenomeinterpreter.org/data/mutations/catalog_of_validated_oncogenic_mutations_${cgiMutationsDate}.tsv"
	
	// CIViC
	civicDate          = '01-Nov-2024'
	civicVcfLink       = "https://civicdb.org/downloads/${civicDate}/${civicDate}-civic_accepted.vcf"
	civicVariantLink   = "https://civicdb.org/downloads/${civicDate}/${civicDate}-VariantSummaries.tsv"
	civicMolecularLink = "https://civicdb.org/downloads/${civicDate}/${civicDate}-MolecularProfileSummaries.tsv"
	civicEvidenceLink  = "https://civicdb.org/downloads/${civicDate}/${civicDate}-ClinicalEvidenceSummaries.tsv"
	
	// Mitelman database: gene fusions
	mitelmanSearchDate   = '20241105'
	mitelmanSearchResult = "${annotationDir}/mb_result_${mitelmanSearchDate}.csv"

	// Consensus Targeted Regions (CTR) BED file
	ctrRegionsLink = "https://figshare.com/ndownloader/files/25927461"


	// Tools versions and links
	abra2Version           = '2.24'
	abra2Link              = 'https://depot.galaxyproject.org/singularity/abra2:2.24--h9f5acd7_1'
	awscliVersion          = '2.15.32'
	awscliLink             = "docker://amazon/aws-cli:${awscliVersion}"
	bcftoolsVersion        = '1.16'
	bcftoolsLink           = 'https://depot.galaxyproject.org/singularity/bcftools:1.16--hfe4b78e_1'
	bclconvertVersion      = '4.0.3'
	bclconvertLink         = "docker://nfcore/bclconvert:${bclconvertVersion}"
	bedtoolsVersion        = '2.31.0'
	bedtoolsLink           = 'https://depot.galaxyproject.org/singularity/bedtools%3A2.31.0--hf5e1c6e_3'
	bioawkVersion          = '1.0'
	bioawkLink             = 'https://depot.galaxyproject.org/singularity/bioawk:1.0--h7132678_7'
	bwamem2Version         = '2.2.1'
	bwamem2Link            = 'https://depot.galaxyproject.org/singularity/mulled-v2-e5d375990341c5aef3c9aff74f96f66f65375ef6:2cdf6bf1e92acbeb9b2834b1c58754167173a410-0'
	cnvkitVersion          = '0.9.9'
	cnvkitLink             = 'https://depot.galaxyproject.org/singularity/cnvkit:0.9.9--pyhdfd78af_0'
	ctatSplicingVersion    = '0.0.2'
	ctatSplicingLink       = 'https://data.broadinstitute.org/Trinity/CTAT_SINGULARITY/CTAT-SPLICING/ctat_splicing.v0.0.2.simg'
	ensemblVepVersion      = "${vepVersion}.0"
	ensemblVepLink         = "docker://ensemblorg/ensembl-vep:release_${ensemblVepVersion}"
	fastpVersion          = '0.23.4'
	fastpLink             = 'https://depot.galaxyproject.org/singularity/fastp%3A0.23.4--hadf994f_3'
	fastqcVersion          = '0.12.1'
	fastqcLink             = 'https://depot.galaxyproject.org/singularity/fastqc%3A0.12.1--hdfd78af_0'
	gatk4Version           = '4.3.0.0'
	gatk4Link              = "docker://broadinstitute/gatk:${gatk4Version}"
	gencoreVersion         = '0.17.2'
	gencoreLink            = 'https://depot.galaxyproject.org/singularity/gencore:0.17.2--h12f7fa2_1'
	mosdepthVersion        = '0.3.3'
	mosdepthLink           = 'https://depot.galaxyproject.org/singularity/mosdepth:0.3.3--h37c5b7d_2'
	msisensorproVersion    = '1.2.0'
	msisensorproLink       = 'https://depot.galaxyproject.org/singularity/msisensor-pro:1.2.0--haa8aa89_3'
	multiqcVersion         = '1.22.3'
	multiqcLink            = 'https://depot.galaxyproject.org/singularity/multiqc%3A1.22.3--pyhdfd78af_0'
	octopusVersion         = '0.7.4'
	octopusLink            = "docker://raulmarinm/octopus-${octopusVersion}:1.0"
	piscesVersion          = '5.3.0.0'
	piscesLink             = "docker://raulmarinm/pisces-${piscesVersion}:1.0"
	rVersion               = '4.0.4'
	rLink                  = "docker://raulmarinm/r-${rVersion}:1.0"
	samtoolsVersion        = '1.18'
	samtoolsLink           = 'https://depot.galaxyproject.org/singularity/samtools%3A1.18--h50ea8bc_1'
	starFusionVersion      = '1.13.0'
	starFusionLink         = 'https://data.broadinstitute.org/Trinity/CTAT_SINGULARITY/STAR-Fusion/star-fusion.v1.13.0.simg'
	tmapTvcVersion         = '5.12.1'
	tmapTvcLink            = "docker://sgsfak/tmap-tvc:${tmapTvcVersion}"
	ucscBigbedtobedVersion = '377'
	ucscBigbedtobedLink    = 'https://depot.galaxyproject.org/singularity/ucsc-bigbedtobed%3A377--ha8a8165_3'
	ucscLiftoverVersion    = '377'
	ucscLiftoverLink       = 'https://depot.galaxyproject.org/singularity/ucsc-liftover:377--h0b8a92a_3'
	umitoolsVersion        = '1.1.2'
	umitoolsLink           = 'https://depot.galaxyproject.org/singularity/umi_tools:1.1.2--py310h1425a21_1'
	umitransferVersion     = '1.0.0'
	umitransferLink        = 'https://depot.galaxyproject.org/singularity/umi-transfer%3A1.0.0'
	vardictVersion         = '1.8.3'
	vardictLink            = 'https://depot.galaxyproject.org/singularity/vardict-java:1.8.3--hdfd78af_0'
	vtVersion              = '0.57721'
	vtLink                 = 'https://depot.galaxyproject.org/singularity/vt:0.57721--h5eb663c_7'
	xengsortVersion        = '1.1.0'
	xengsortLink           = 'docker://ishidamd/xengsort'

	// Tools images
	abra2Img           = "${singularityDir}/abra2_${abra2Version}.sif"
	awscliImg          = "${singularityDir}/awscli_${awscliVersion}.sif"
	bcftoolsImg        = "${singularityDir}/bcftools_${bcftoolsVersion}.sif"
	bclconvertImg      = "${singularityDir}/bclconvert_${bclconvertVersion}.sif"
	bedtoolsImg        = "${singularityDir}/bedtools_${bedtoolsVersion}.sif"
	bioawkImg          = "${singularityDir}/bioawk_${bioawkVersion}.sif"
	bwamem2Img         = "${singularityDir}/bwa-mem2_${bwamem2Version}.sif"
	cnvkitImg          = "${singularityDir}/cnvkit_${cnvkitVersion}.sif"
	ctatSplicingImg    = "${singularityDir}/ctat-splicing_${ctatSplicingVersion}.sif"
	ensemblVepImg      = "${singularityDir}/ensembl-vep_${ensemblVepVersion}.sif"
	fastpImg           = "${singularityDir}/fastp_${fastpVersion}.sif"
	fastqcImg          = "${singularityDir}/fastqc_${fastqcVersion}.sif"
	gatk4Img           = "${singularityDir}/gatk_${gatk4Version}.sif"
	gencoreImg         = "${singularityDir}/gencore_${gencoreVersion}.sif"
	mosdepthImg        = "${singularityDir}/mosdepth_${mosdepthVersion}.sif"
	msisensorproImg    = "${singularityDir}/msisensor-pro_${msisensorproVersion}.sif"
	multiqcImg         = "${singularityDir}/multiqc_${multiqcVersion}.sif"
	octopusImg         = "${singularityDir}/octopus_${octopusVersion}.sif"
	piscesImg          = "${singularityDir}/pisces_${piscesVersion}.sif"
	rImg               = "${singularityDir}/R_${rVersion}.sif"
	samtoolsImg        = "${singularityDir}/samtools_${samtoolsVersion}.sif"
	starFusionImg      = "${singularityDir}/star-fusion_${starFusionVersion}.sif"
	tmapTvcImg         = "${singularityDir}/tmap-tvc_${tmapTvcVersion}.sif"
	ucscBigbedtobedImg = "${singularityDir}/ucsc-bigbedtobed_${ucscBigbedtobedVersion}.sif"
	ucscLiftoverImg    = "${singularityDir}/ucsc-liftover_${ucscLiftoverVersion}.sif"
	umitoolsImg        = "${singularityDir}/umitools_${umitoolsVersion}.sif"
	umitransferImg     = "${singularityDir}/umi-transfer_${umitransferVersion}.sif"
	vardictImg         = "${singularityDir}/vardict-java_${vardictVersion}.sif"
	vtImg              = "${singularityDir}/vt_${vtVersion}.sif"
	xengsortImg        = "${singularityDir}/xengsort_${xengsortVersion}.sif"

	// Other config files
	multiqcConfig = "${projectDir}/conf/multiqc_config.yaml"

}


/*
 * Settings and profiles
 */

// Apptainer settings
params.apptainer     = true
apptainer.enabled    = true
apptainer.autoMounts = true

// Singularity settings
//params.apptainer       = false
//singularity.enabled    = true
//singularity.autoMounts = true

// Load default config options
includeConfig 'conf/base.config'

// Load config options for modules
includeConfig 'conf/modules.config'

// Profiles
profiles {
	
	// Standard config options (when no profile is specified)
	standard { process.executor = 'local' }

	// SGE config options
	sge { includeConfig 'conf/sge.config' }

	// Slurm config options
	slurm { includeConfig 'conf/slurm.config' }

	// TSO500 config options
	tso500 { includeConfig 'conf/tso500.config' }

	// OPA config options
	opa { includeConfig 'conf/opa.config' }

	// OCA config options
	oca { includeConfig 'conf/oca.config' }

	// AGL config options
	agl { includeConfig 'conf/agl.config' }

	// BRP config options
	brp { includeConfig 'conf/brp.config' }

	// IDT config options
	idt { includeConfig 'conf/idt.config' }

	// IGT config options
	igt { includeConfig 'conf/igt.config' }

	// ILM config options
	ilm { includeConfig 'conf/ilm.config' }

	// TFS config options
	tfs { includeConfig 'conf/tfs.config' }

	// Custom panel config options
	custom { includeConfig 'conf/custom.config' }

}

// Report and trace (overwrite by default)
report {
    overwrite = true
}
trace {
    overwrite = true
}
