/*
 * -------------------------------------------------
 *  Agilent Agilent Custom Comprehensive Cancer panel config file
 * -------------------------------------------------
 * Comment or remove the line of an option to use the default value
 */

params {

	// Required parameters
	seqPanel = 'AGL'

	// Initial parameters
	manifestDir = "${projectDir}/resources/manifests/AGL"

	// Run parameters
	startingDataType = 'FASTQ'
	seqPlatform      = 'Illumina'
	umiDna           = true
	RNA              = false

	// Manifest parameters
	dnaManifest      = "${manifestDir}/AGL_hg19.bed"
	liftoverManifest = true
	annotateGenesBed = true

	// Pipeline steps
	smallVariantAnnotation = false
	tmb                    = false
	cna                    = false
	msi                    = false
	runLibrary             = false
	uniqueLibrary          = false
	sampleReport           = false

	// Modules config
	fastqUmiTransfer   = true
	fastp_publish      = false
	octopus_errorModel = 'PCR.NOVASEQ'

}

process {
	withLabel: lowCpu   { cpus   = 4  } 
	withLabel: medCpu   { cpus   = 8  }
	withLabel: highCpu  { cpus   = 16 }
}
