/*
 * -------------------------------------------------
 *  Nextflow base config file
 * -------------------------------------------------
 */

// Set limit of resource requirements
params {
	maxCpus   = 32
	maxMemory = 200.GB
	maxTime   = 48.h
}


process {

	/*
	* Default settings (no labels or names)
	*/
	
	// Resource requirements
	cpus   = { checkMax( 1                  , 'cpus'   ) }
	memory = { checkMax( 6.GB * task.attempt, 'memory' ) }
	time   = { checkMax( 24.h * task.attempt, 'time'   ) }

	// Memory errors should be retried
	errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
	maxRetries    = 1
	maxErrors     = '-1'


	/*
	* Process-specific resource requirements
	*/

	// Labels
	withLabel: minCpu   { cpus   = { checkMax( 1      * task.attempt, 'cpus'   ) } }
	withLabel: lowCpu   { cpus   = { checkMax( 4      * task.attempt, 'cpus'   ) } } 
	withLabel: medCpu   { cpus   = { checkMax( 8      * task.attempt, 'cpus'   ) } }
	withLabel: highCpu  { cpus   = { checkMax( 16     * task.attempt, 'cpus'   ) } }
	withLabel: extraCpu { cpus   = { checkMax( 32     * task.attempt, 'cpus'   ) } }
	
	withLabel: minMem   { memory = { checkMax( 6.GB   * task.attempt, 'memory' ) } }
	withLabel: lowMem   { memory = { checkMax( 12.GB  * task.attempt, 'memory' ) } }
	withLabel: medMem   { memory = { checkMax( 24.GB  * task.attempt, 'memory' ) } }
	withLabel: highMem  { memory = { checkMax( 48.GB  * task.attempt, 'memory' ) } }
	withLabel: extraMem { memory = { checkMax( 96.GB  * task.attempt, 'memory' ) } }

	withLabel: errorIgnore { 
		errorStrategy = 'ignore'
	}
	withLabel: errorRetry {
		errorStrategy = 'retry'
		maxRetries    = 2
	}


	// Names
}



// Function to ensure that resource requirements don't go beyond the maximum limits
def checkMax(maxVal, type) {
	if(type == 'cpus'){
		try {return Math.min( maxVal, params.maxCpus as int )} 
		catch (all) {
			println "   ### ERROR ###   Max cpus '${params.maxCpus}' is not valid! Using default value: ${maxVal}"
			return maxVal
		}
	} else if(type == 'memory'){
		try {
			if(maxVal.compareTo(params.maxMemory as nextflow.util.MemoryUnit) == 1){
				return params.maxMemory as nextflow.util.MemoryUnit
			} else {return maxVal}
		} catch (all) {
			println "	### ERROR ###	Max memory '${params.maxMemory}' is not valid! Using default value: ${maxVal}"
			return maxVal
		}
	} else if(type == 'time'){
		try {
			if(maxVal.compareTo(params.maxTime as nextflow.util.Duration) == 1){
				return params.maxTime as nextflow.util.Duration
			} else {return maxVal}
		} catch (all) {
			println "	### ERROR ###	Max time '${params.maxTime}' is not valid! Using default value: ${maxVal}"
			return maxVal
		}
	}
}


