/*
 * -------------------------------------------------
 *  Burning Rock DX OncoScreen Plus panel config file
 * -------------------------------------------------
 * Comment or remove the line of an option to use the default value
 */

params {

	// Required parameters
	seqPanel = 'BRP'

	// Initial parameters
	manifestDir = "${projectDir}/resources/manifests/BRP"

	// Run parameters
	startingDataType = 'FASTQ'
	seqPlatform      = 'Illumina'
	RNA              = false

	// Manifest parameters
	dnaManifest      = "${manifestDir}/BRP_hg19.bed"
	liftoverManifest = true
	annotateGenesBed = true

	// Pipeline steps
	smallVariantAnnotation = false
	tmb                    = false
	cna                    = false
	msi                    = false
	runLibrary             = false
	uniqueLibrary          = false
	sampleReport           = false

	// Modules config
	fastp_publish      = false
	octopus_errorModel = 'PCR.NOVASEQ'

	// SmallVariant analysis
	variantIntervalPadding = '100'
	variantMinAD           = '5'
	variantMinDP           = '50'
	variantMinVAF          = '0.01'

}

process {
	withName: FASTP { 
		ext.args = { [
			'--cut_tail_window_size=1',
			'--cut_tail_mean_quality=20',
			'--cut_right_window_size=30',
			'--cut_right_mean_quality=25',
			'--length_required=50'
		].join(' ') }
	}

	withLabel: lowCpu   { cpus   = 4  } 
	withLabel: medCpu   { cpus   = 8  }
	withLabel: highCpu  { cpus   = 16 }
}
