/*
 * ----------------------------------------------------
 *    ClinBioNGS Nextflow custom panel config file
 * ----------------------------------------------------
 * Custom parameters called in the 'custom' profile.
 * Any parameter from nextflow.config, conf/base.config 
 * and conf/modules.config can be updated.
 */

params {
	
	// Initial parameters

	// Run parameters

	// Manifest parameters

	// Pipeline steps

	// Modules config



	// BamQC analysis

	// SmallVariant analysis

	// CNA analysis

	// Fusion analysis

	// Splicing analysis

	// TMB analysis

	// MSI analysis

	// Plotting parameters

	// Report: DNA QC ranges

	// Report: RNA QC parameters

	

	// Other parameters


}

process {
	
	// Resource requirements labels
	
}
