/*
 * -------------------------------------------------
 *  Integrated DNA Technologies xGen Pan-Cancer Panel config file
 * -------------------------------------------------
 * Comment or remove the line of an option to use the default value
 */

params {

	// Required parameters
	seqPanel = 'IDT'

	// Initial parameters
	manifestDir = "${projectDir}/resources/manifests/IDT"

	// Run parameters
	startingDataType = 'FASTQ'
	seqPlatform      = 'Illumina'
	RNA              = false

	// Manifest parameters
	dnaManifest      = "${manifestDir}/IDT_hg19.bed"
	liftoverManifest = true
	annotateGenesBed = true

	// Pipeline steps
	smallVariantAnnotation = false
	tmb                    = false
	cna                    = false
	msi                    = false
	runLibrary             = false
	uniqueLibrary          = false
	sampleReport           = false

	// Modules config
	fastp_publish      = false
	octopus_errorModel = 'PCR.NOVASEQ'

}
