/*
 * -------------------------------------------------
 *  iGeneTech AIOnco-seq panel config file
 * -------------------------------------------------
 * Comment or remove the line of an option to use the default value
 */

params {

	// Required parameters
	seqPanel = 'IGT'

	// Initial parameters
	manifestDir = "${projectDir}/resources/manifests/IGT"

	// Run parameters
	startingDataType = 'FASTQ'
	seqPlatform      = 'Illumina'
	RNA              = false

	// Manifest parameters
	dnaManifest      = "${manifestDir}/IGT_hg19.bed"
	liftoverManifest = true
	annotateGenesBed = true

	// Pipeline steps
	smallVariantAnnotation = false
	tmb                    = false
	cna                    = false
	msi                    = false
	runLibrary             = false
	uniqueLibrary          = false
	sampleReport           = false

	// Modules config
	fastp_publish      = false
	octopus_errorModel = 'PCR.HISEQ-2500'

}

process {
	withName: FASTP { 
		ext.args = { [
			'--cut_tail_window_size=1',
			'--cut_tail_mean_quality=20',
			'--cut_right_window_size=8',
			'--cut_right_mean_quality=20',
			'--length_required=40',
			'--adapter_sequence=GATCGGAAGAGCACACGTCT',
			'--adapter_sequence_r2=AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
		].join(' ') }
	}

}

