/*
 * -------------------------------------------------
 *  Illumina TST170 panel config file
 * -------------------------------------------------
 * Comment or remove the line of an option to use the default value
 */

params {

	// Required parameters
	seqPanel = 'ILM'

	// Initial parameters
	manifestDir = "${projectDir}/resources/manifests/ILM"

	// Run parameters
	startingDataType = 'FASTQ'
	seqPlatform      = 'Illumina'
	RNA              = false

	// Manifest parameters
	dnaManifest      = "${manifestDir}/ILM_hg19.bed"
	liftoverManifest = true
	annotateGenesBed = true

	// Pipeline steps
	smallVariantAnnotation = false
	tmb                    = false
	cna                    = false
	msi                    = false
	runLibrary             = false
	uniqueLibrary          = false
	sampleReport           = false

	// Modules config
	fastqMergeLanes = true
	fastp_publish   = false

}
