/*
 * -------------------------------------------------
 *  Nextflow modules config file
 * -------------------------------------------------
 */

// Set process-specific parameters
params {

	// PREPARE_TARGET_BED
	geneColumnSep = '_'

	// DOWNLOAD_GENOME
	genomeFastaDir_publishMode = 'copy'

	// INDEX_GENOME_<BWAMEM2/TMAP>
	dnaGenomeIndexDir_publishMode = 'copy'

	// DOWNLOAD_VEP_CACHE
	vepCache_publishMode = 'copy'

	// XENGSORT_INDEX
	xengsortIndex_publishMode = 'copy'
	xengsortIndex_nobjects    = '4496607845' // Number of k-mers that will be stored in the hash table. As a guide: Human and mouse genome and transcriptome together comprise around 4.5 billion 25-mers.

	// PREPARE_MANIFEST_IONTORRENT_RNA
	ionTorrentRnaPadding = '25'

	// PREPARE_CTAT_LIB
	prepareCtatLib_publishMode = 'copy'

	// BCL_CONVERT
	bclConvert_publish     = false
	bclConvert_publishMode = 'copy'

	// PREPARE_UBAM_IONTORRENT
	ubamIonTorrent_suffix      = '.raw'
	ubamIonTorrent_publish     = false
	ubamIonTorrent_publishMode = 'copy'

	// BAM_ADD_UMI_QNAME
	bamAddUmiQname             = false
	bamAddUmiQname_flagUmi1    = 'RX'
	bamAddUmiQname_flagUmi2    = ''
	bamAddUmiQname_umiDelim    = '_'
	bamAddUmiQname_umiSep      = ''
	bamAddUmiQname_suffix      = ''
	bamAddUmiQname_publish     = false
	bamAddUmiQname_publishMode = 'copy'

	// <U>BAM_TO_FASTQ / FASTQ_TO_BAM / BAM_REMOVE_TAGS
	bamTags            = ''
	bamTags_IonTorrent = 'RG,PG,ZA,ZB,ZC,ZE,ZF,ZG,ZM,ZK,ZP,ZT,YE,YK,YT'

	// UBAM_TO_FASTQ
	ubamToFastq_suffix      = ''
	ubamToFastq_publish     = false
	ubamToFastq_publishMode = 'copy'

	// FASTQ_MERGE_LANES
	fastqMergeLanes             = false
	fastqMergeLanes_suffix      = ''
	fastqMergeLanes_publish     = false
	fastqMergeLanes_publishMode = 'copy'

	// FASTQ_UMI_TRANSFER
	fastqUmiTransfer             = false
	fastqUmiTransfer_umiFile     = 'R2.fastq'
	fastqUmiTransfer_in1File     = 'R1.fastq'
	fastqUmiTransfer_in2File     = 'R3.fastq'
	fastqUmiTransfer_delim       = ':'
	fastqUmiTransfer_suffix      = ''
	fastqUmiTransfer_publish     = false
	fastqUmiTransfer_publishMode = 'copy'

	// XENGSORT_CLASSIFY
	xengsort_publish     = false
	xengsort_publishMode = 'copy'

	// FASTQ_CHANGE_UMI_SEP
	fastqChangeUmiSep             = false
	fastqChangeUmiSep_from        = '+'
	fastqChangeUmiSep_to          = '_'
	fastqChangeUmiSep_suffix      = ''
	fastqChangeUmiSep_publish     = false
	fastqChangeUmiSep_publishMode = 'copy'

	// FASTP
	fastp             = true
	fastp_umi         = false
	fastp_umi_loc     = 'none'
	fastp_umi_len     = '0'
	fastp_umi_prefix  = ''
	fastp_umi_skip    = '0'
	fastp_umi_delim   = ':'
	fastp_suffix      = ''
	fastp_publish     = true
	fastp_publishMode = 'copy'

	// BWAMEM2_ALIGNMENT
	bwamem2Alignment_inBases     = '160000000' // process INT input bases in each batch regardless of nThreads (for reproducibility)
	bwamem2Alignment_publish     = false
	bwamem2Alignment_publishMode = 'copy'

	// FASTQ_TO_BAM
	fastqToBam_suffix      = ''
	fastqToBam_publish     = false
	fastqToBam_publishMode = 'copy'

	// TMAP_ALIGNMENT
	tmapAlignment_publish     = false
	tmapAlignment_publishMode = 'copy'

	// STAR_ALIGNMENT
	starAlignment_publish     = false
	starAlignment_publishMode = 'copy'

	// GENCORE
	gencore_supportingReads  = '1' // only output consensus reads/pairs that merged by >= <supporting_reads> reads/pairs.
	gencore_ratioThreshold   = '0.8' // if the ratio of the major base in a cluster is less than <ratio_threshold>, it will be further compared to the reference. The value should be 0.5~1.0, and the default value is 0.8 (double [=0.8])
	gencore_scoreThreshold   = '6' // if the score of the major base in a cluster is less than <score_threshold>, it will be further compared to the reference. The value should be 1~20, and the default value is 6 (int [=6])
	gencore_umiDelim         = '' // the prefix for UMI, if it has
	gencore_umiDiffThreshold = '1' // if two reads with identical mapping position have UMI difference <= <umi_diff_threshold>, then they will be merged to generate a consensus read. Default value is 1. (int [=1])
	gencore_publish          = false
	gencore_publishMode      = 'copy'

	// UMITOOLS
	umitools                   = false
	umitools_umiDelim          = '_' // separator between read id and UMI
	umitools_distanceThreshold = '1' // Edit distance theshold at which to join two UMIs when grouping UMIs. [default=1]
	umitools_publish           = false
	umitools_publishMode       = 'copy'

	// GATK_MARKDUPLICATES
	gatkMarkduplicates_publish     = false
	gatkMarkduplicates_publishMode = 'copy'

	// BAM_DEDUP_INDEX
	bamDedupIndex_publish     = false
	bamDedupIndex_publishMode = 'copy'

	// BWAMEM2_REALIGNMENT
	bwamem2Realignment_inBases     = '160000000' // process INT input bases in each batch regardless of nThreads (for reproducibility)
	bwamem2Realignment_publish     = false
	bwamem2Realignment_publishMode = 'copy'

	// ABRA2
	abra2_publish     = true
	abra2_publishMode = 'copy'

	// BAM_REALIGN_INDEX
	bamRealignIndex_publish     = true
	bamRealignIndex_publishMode = 'copy'

	// TMAP_REALIGNMENT
	tmapRealignment_publish     = true
	tmapRealignment_publishMode = 'copy'

	// STAR_REALIGNMENT
	starRealignment_publish     = true
	starRealignment_publishMode = 'copy'

	// MOSDEPTH
	mosdepth_mapq      = '10' // mapping quality threshold. Reads with a quality less than this value are ignored [default: 0]
	mosdepth_useMedian = true // output median of each region (in --by) instead of mean.

	// BAM_CLIPPING
	bamclipping             = false
	bamclipping_bothEnds    = true
	bamclipping_suffix      = '.clipped'
	bamclipping_publish     = true
	bamclipping_publishMode = 'copy'

	// PISCES
	pisces                  = true
	pisces_callmnvs         = 'true' // Call MNVs (a.k.a. phased SNPs)
	pisces_outputsbfiles    = 'false' // Output strand bias files
	pisces_collapse         = 'true' // Whether or not to collapse variants together, 'true' or 'false'. default, True
	pisces_usestitchedxd    = 'false' // Set to true to make use of the consensus read-direction information (the XD tag) from stitched reads.
	pisces_minbq            = '20' // MinimumBaseCallQuality to use a base of the read
	pisces_minbq_IonTorrent = '15'
	pisces_minmapq          = '10' // MinimumMapQuality required to use a read
	pisces_minqscore        = '0' // MinimumVariantQScore to report variant
	pisces_mindepth         = '0' // Minimum depth to call a variant
	pisces_minfreq          = '0.0001' // MinimumFrequency to call a variant
	pisces_minqscorefilter  = '20' // FilteredVariantQScore to report variant as filtered
	pisces_maxqscorefilter  = '100' // MaximumVariantQScore to cap output variant Qscores. Default, 100
	pisces_ssfilter         = 'true' // Flag variants as filtered if coverage limited to one strand
	pisces_reportnocalls    = 'false' // 'true' or 'false'. default, false

	// MUTECT2
	mutect2                           = true
	mutect2_maxReadsPerAlignmentStart = '0' // Maximum number of reads to retain per alignment start position (50 by default). Reads above this threshold will be downsampled. Set to 0 to disable.
	mutect2_maxMnpDistance            = '1' // Two or more phased substitutions separated by this distance or less are merged into MNPs. Default value: 1.
	mutect2_F1r2MaxDepth              = '2000' // Sites with depth higher than this value will be grouped  Default value: 200.
	mutect2_minbq                     = '20' // Minimum median base quality of alt reads  Default value: 20.
	mutect2_minbq_IonTorrent          = '15'
	mutect2_minmapq                   = '10' // Minimum median mapping quality of alt reads  Default value: -1.
	mutect2_minfreq                   = '0.0' // Minimum allele fraction required  Default value: 0.0.
	mutect2_maxEventsInRegion         = '6' // Maximum events in a single assembly region. Filter all variants if exceeded. int  2  [ [ -∞  ∞ ] ]
	mutect2_maxAltAlleleCount         = '3' // Maximum alt alleles per site. int  1  [ [ -∞  ∞ ] ]

	// VARDICT
	vardict                  = true
	vardict_chrom            = '1' // The column for chromosome
	vardict_start            = '2' // The column for region start, e.g. gene start
	vardict_end              = '3' // The column for region end, e.g. gene end
	vardict_gene             = '4' // The column for gene name, or segment annotation
	vardict_localRealignment = '0' // Indicate whether to perform local realignment.  Default: 1.  Set to 0 to disable it.  For Ion or PacBio, 0 is recommended.
	vardict_minbq            = '20' // The phred score for a base to be considered a good call.  Default: 25 (for Illumina)
	vardict_minbq_IonTorrent = '15' // For PGM, set it to ~15, as PGM tends to under estimate base quality.
	vardict_minmapq          = '10' // The minimum mapping quality.  Default to 10.0 for Illumina sequencing.  Variants with lower quality (<10) will be kept only if af >= 0.8
	vardict_minreads         = '2' // The minimum # of variant reads, default 2
	vardict_minfreq          = '0.01' // The threshold for allele frequency, default: 0.01 or 1%
	vardict_bpAfterIndel     = '0' // Extension of bp to look for mismatches after insersion or deletion.  Default to 2 bp, or only calls when they're within 2 bp.
	vardict_mindp            = '3' // The minimum total depth.  Default to 3, might consider lower depth if (high quality variant count)*af >= 0.5
	vardict_minad            = '2' // The minimum high quality variant depth.  Default to 2.  Would consider lower depth (high quality variant count)*af >= 0.5

	// OCTOPUS
	octopus                             = true
	octopus_callingModel                = 'individual' // Which of the octopus calling models to use
	octopus_errorModel                  = 'PCR' // Sequencing error model to use by the haplotype likelihood model
	octopus_maxRefCacheMem              = '10G' // Maximum memory for cached reference sequence
	octopus_targetReadBufferMem         = '20G' // controls the size of the memory buffer used for input sequencing reads
	octopus_downsampleAbove             = '2000' // Downsample reads in regions where coverage is over this
	octopus_downsampleTarget            = '2000' // Target coverage for the downsampler
	octopus_minbq                       = '20' // defines the minimum quality of a 'good' base
	octopus_minbq_IonTorrent            = '15'
	octopus_minmapq                     = '10' // specifies the minimum mapping quality that reads must have to be considered; reads with mapping quality below this will be filtered and not used for analysis.
	octopus_filterExpression            = 'BQ < 20 | SB > 0.98 | MQ < 10 | MP < 10 | AF < 0.0001 | AD < 1 | DP < 1 | ADP < 1' // Boolean expression to use to filter variant calls.
	octopus_filterExpression_IonTorrent = 'BQ < 15 | SB > 0.95 | MQ < 10 | MP < 10 | AF < 0.0001 | AD < 1 | DP < 1 | ADP < 1'
	octopus_annotations                 = 'AD ADP AF SB BQ FRF' // Annotations to write to final VCF

	// TVC
	tvc = true

	// VEP_RUN
	vepDistance      = '0'
	vepShiftHgvs     = '0'
	vepClinvarFields = 'CLNSIG,CLNREVSTAT,CLNDN,ORIGIN'
	vepCivicFields   = 'GN,VT'

	// VEP_PROCESSING
	caddCutoff          = '15'
	revelCutoff         = '0.5'
	alphamissenseCutoff = '0.5'

	// CNVKIT
	cnvkit_minMapq          = '10'
	cnvkit_segmentMethod    = 'cbs' // CBS segmentation method (default)
	cnvkit_segmentThreshold = '0.0001' // Significance threshold
	cnvkit_smoothCbs        = false // Additional smoothing before CBS segmentation
	cnvkit_dropLowCoverage  = true // Drop very low-coverage bins (log2<-15)

	// ASCETS
	ascets_minBoc            = '0.0' // Minimum arm breadth of coverage (BOC) to make a call. Specify 0.0 to allow any BOC (defaults to 0.5)
	ascets_callingThreshold  = '0.4' // log2 segment mean threshold (+/- 0.2 by default)
	ascets_fractionThreshold = '0.7' // Arm level-alteration fraction threshold. Defaults to 0.7.

	// MSISENSORPRO
	msisensorpro_minCov = '100'

	// BAM parameters
	bamAligned_suffix   = '.aligned'
	bamDedup_suffix     = '.dedup'
	bamRealigned_suffix = '.realigned'

	// Small variant VCF parameters
	vcfCalling_suffix    = '.raw'
	vcfProcessing_suffix = '.processed'

}

process {

	// Process-specific options
	withName: BED_TO_INTERVAL_LIST { 
		ext.args = { [
			''
		].join(' ') }
	}
	withName: BCL_CONVERT { 
		ext.args = { [
			'' 
			//'--fastq-gzip-compression-level 9' // 0-9 
		].join(' ') }
	}
	withName: MULTIQC_RUN { 
		ext.args = { [
			''
		].join(' ') }
	}
	withName: BAM_ADD_UMI_QNAME {
		// samtools view 
		ext.args = { [
			'' 
		].join(' ') }
	}
	withName: UBAM_TO_FASTQ { 
		// samtools fastq
		ext.args = { [
			''
			//'-c 9' // 0-9 compression level
		].join(' ') }
	}
	withName: FASTQ_MERGE_LANES { 
		// gzip
		ext.args = { [
			'' //'--best' // equivalent to '-9'
		].join(' ') }
	}
	withName: FASTQ_UMI_TRANSFER { 
		ext.args = { [
			''
		].join(' ') }
	}
	withName: FASTQ_CHANGE_UMI_SEP { 
		// gzip
		ext.args = { [
			''
		].join(' ') }
	}
	withName: FASTP { 
		ext.args = { [
			''
		].join(' ') }
	}
	withName: FASTQC { 
		ext.args = { [
			''
		].join(' ') }
	}
	withName: MULTIQC { 
		ext.args = { [
			''
		].join(' ') }
	}
	withName: BWAMEM2 { 
		// bwa-mem2
		ext.args = { [
			'' 
		].join(' ') }
		// samtools sort
		ext.args2 = { [
			''
			//'-l 9' // 0-9 compression level
		].join(' ') }
	}
	withName: FASTQ_TO_BAM { 
		ext.args = { [
			''
		].join(' ') }
	}
	withName: TMAP { 
		// tmap
		ext.args = { [
			'--end-repair 15',
			'-J 20'
		].join(' ') }
		// samtools sort
		ext.args2 = { [
			''
		].join(' ') }
	}
	withName: STAR { 
		// Main parameters
		ext.mainArgs = { [
			'--twopassMode Basic',
			'--quantMode GeneCounts',
			'--outFilterType BySJout',
			'--outSAMstrandField intronMotif',
			'--outSAMunmapped Within',
			'--chimSegmentMin 12',
			'--chimJunctionOverhangMin 8',
			'--chimOutJunctionFormat 1',
			'--alignSJDBoverhangMin 10',
			'--alignMatesGapMax 100000',
			'--alignIntronMax 100000',
			'--alignSJstitchMismatchNmax 5 -1 5 5',
			'--chimMultimapScoreRange 3',
			'--chimScoreJunctionNonGTAG -4',
			'--chimMultimapNmax 20',
			'--chimNonchimScoreDropMin 10',
			'--peOverlapNbasesMin 12',
			'--peOverlapMMp 0.1',
			'--alignInsertionFlush Right',
			'--alignSplicedMateMapLminOverLmate 0',
			'--alignSplicedMateMapLmin 30',
			//'--outBAMcompression 9' // 0-9 compression level
		].join(' ') }
		// Other parameters
		ext.otherArgs = { [
			''
		].join(' ') }
	}
	withName: COLLECT_ALIGNMENT_METRICS { 
		ext.args = { [
			''
		].join(' ') }
	}
	withName: COLLECT_INSERTSIZE_METRICS { 
		ext.args = { [
			''
		].join(' ') }
	}
	withName: COUNT_ONTARGET_READS { 
		ext.args = { [
			''
		].join(' ') }
	}
	withName: GENCORE { 
		ext.args = { [
			''
		].join(' ') }
	}
	withName: GATK_MARKDUPLICATES { 
		ext.args = { [
			''
		].join(' ') }
	}
	withName: UMITOOLS { 
		ext.args = { [
			''
		].join(' ') }
	}
	withName: BAM_DEDUP_INDEX { 
		ext.args = { [
			''
		].join(' ') }
	}
	withName: BAM_TO_FASTQ { 
		// samtools fastq
		ext.args = { [
			''
			//'-c 9' // 0-9 compression level
		].join(' ') }
	}
	withName: ABRA2 { 
		ext.args = { [
			''
			//'--cl 9' // 0-9 compression level
		].join(' ') }
	}
	withName: BAM_REALIGN_INDEX { 
		ext.args = { [
			''
		].join(' ') }
	}
	withName: MOSDEPTH { 
		ext.args = { [
			''
		].join(' ') }
	}
	withName: BAM_CLIPPING {
		// samtools ampliconclip 
		ext.args = { [
			''
		].join(' ') }
		// samtools sort 
		ext.args2 = { [
			''
			//'-l 9' // 0-9 compression level
		].join(' ') }
	}
	withName: BAM_REMOVE_TAGS { 
		ext.args = { [
			''
		].join(' ') }
	}
	withName: PISCES { 
		ext.args = { [
			''
		].join(' ') }
	}
	withName: MUTECT2_CALL { 
		ext.args = { [
			''
		].join(' ') }
	}
	withName: MUTECT2_MODEL { 
		ext.args = { [
			''
		].join(' ') }
	}
	withName: MUTECT2_FILTER { 
		ext.args = { [
			'', 
		].join(' ') }
	}
	withName: VARDICT { 
		// vardict-java
		ext.args = { [
			''
		].join(' ') }
		// var2vcf_valid.pl
		ext.args2 = { [
			''
		].join(' ') }
	}
	withName: OCTOPUS { 
		// Main parameters
		ext.args = { [
			''
		].join(' ') }
	}
	withName: TVC { 
		// tvc
		ext.args = { [
			''
		].join(' ') }
		// tvcutils unify_vcf
		ext.args2 = { [
			''
		].join(' ') }
	}
	withName: VCF_CONCAT { 
		// bcftools concat
		ext.args = { [
			''
		].join(' ') }
		// bcftools sort
		ext.args2 = { [
			''
		].join(' ') }
	}
	withName: BCFTOOLS { 
		// view module
		ext.args = { [
			''
		].join(' ') }
	}
	withName: VT { 
		// vt decompose
		ext.argsDecompose = { [
			''
		].join(' ') }
		// vt view
		ext.argsView = { [
			''
		].join(' ') }
		// vt decompose_blocksub
		ext.argsDecomposeBlocksub = { [
			''
		].join(' ') }
		// vt normalize
		ext.argsNormalize = { [
			''
		].join(' ') }
		// vt uniq
		ext.argsUniq = { [
			''
		].join(' ') }
	}
	withName: VEP_RUN { 
		ext.args = { [
			'',
		].join(' ') }
	}
	withName: CNVKIT { 
		// Coverage module
		ext.argsCoverage = { [
			''
		].join(' ') }
		// Fix module
		ext.argsFix = { [
			''
		].join(' ') }
		// Sex module
		ext.argsSex = { [
			''
		].join(' ') }
		// Segment module
		ext.argsSegment = { [
			''
		].join(' ') }
	}
	withName: MSISENSORPRO { 
		ext.args = { [
			''
		].join(' ') }
	}
	withName: STAR_FUSION { 
		ext.args = { [
			''
		].join(' ') }
	}
	withName: CTAT_SPLICING { 
		ext.args = { [
			''
		].join(' ') }
	}
	withName: XENGSORT_INDEX { 
		ext.args = { [
			''
		].join(' ') }
	}
	withName: XENGSORT_CLASSIFY { 
		ext.args = { [
			''
		].join(' ') }
	}

	// OUT DIR labels
	withLabel: outAnnotDir {
		publishDir = [
			[
				path: { params.annotationDir },
				mode: 'copy',
				pattern: '*.{bb,bed,gtf,gz,pdf,tbi,tsv,txt,vcf,xls}'
			],
			[
				path: { "${params.logsDir}/RESOURCES" },
				mode: 'copy',
				pattern: '*.{err,log,out,run,sh}'
			]
		]
	}
	withLabel: outSmallVariantDir {
		publishDir = [
			[
				path: { params.smallVariantDir },
				mode: 'copy',
				pattern: '*.bed'
			],
			[
				path: { "${params.logsDir}/RESOURCES" },
				mode: 'copy',
				pattern: '*.{err,log,out,run,sh}'
			]
		]
	}
	withLabel: outCnaDir {
		publishDir = [
			[
				path: { params.cnaDir },
				mode: 'copy',
				pattern: '*.{bed,cnn,R,txt}'
			],
			[
				path: { "${params.logsDir}/RESOURCES" },
				mode: 'copy',
				pattern: '*.{err,log,out,run,sh}'
			]
		]
	}
	withLabel: outManifestDir {
		publishDir = [
			[
				path: { params.manifestDir },
				mode: 'copy',
				pattern: '*.{bed,interval_list,txt}'
			],
			[
				path: { "${params.logsDir}/RESOURCES" },
				mode: 'copy',
				pattern: '*.{err,log,out,run,sh}'
			]
		]
	}
	withLabel: outSingularityDir {
		publishDir = [
			[
				path: { params.singularityDir },
				mode: 'copy',
				pattern: '*.sif'
			],
			[
				path: { "${params.logsDir}/RESOURCES" },
				mode: 'copy',
				pattern: '*.{err,log,out,run,sh}'
			]
		]
	}
	

	// SINGULARITY labels
	withLabel: abra2           { container = "file://${params.abra2Img}"           }
	withLabel: awscli          { container = "file://${params.awscliImg}"          }
	withLabel: bclconvert      { container = "file://${params.bclconvertImg}"      }
	withLabel: bcftools        { container = "file://${params.bcftoolsImg}"        }
	withLabel: bedtools        { container = "file://${params.bedtoolsImg}"        }
	withLabel: bioawk          { container = "file://${params.bioawkImg}"          }
	withLabel: bwamem2         { container = "file://${params.bwamem2Img}"         }
	withLabel: cnvkit          { container = "file://${params.cnvkitImg}"          }
	withLabel: ctatSplicing    { container = "file://${params.ctatSplicingImg}"    }
	withLabel: ensemblVep      { container = "file://${params.ensemblVepImg}"      }
	withLabel: fastp           { container = "file://${params.fastpImg}"           }
	withLabel: fastqc          { container = "file://${params.fastqcImg}"          }
	withLabel: gatk4           { container = "file://${params.gatk4Img}"           }
	withLabel: gencore         { container = "file://${params.gencoreImg}"         }
	withLabel: mosdepth        { container = "file://${params.mosdepthImg}"        }
	withLabel: msisensorpro    { container = "file://${params.msisensorproImg}"    }
	withLabel: multiqc         { container = "file://${params.multiqcImg}"         }
	withLabel: octopus         { container = "file://${params.octopusImg}"         }
	withLabel: pisces          { container = "file://${params.piscesImg}"          }
	withLabel: R               { container = "file://${params.rImg}"               }
	withLabel: samtools        { container = "file://${params.samtoolsImg}"        }
	withLabel: starFusion      { container = "file://${params.starFusionImg}"      }
	withLabel: tmap            { container = "file://${params.tmapTvcImg}"         }
	withLabel: tvc             { container = "file://${params.tmapTvcImg}"         }
	withLabel: ucscBigbedtobed { container = "file://${params.ucscBigbedtobedImg}" }
	withLabel: ucscLiftover    { container = "file://${params.ucscLiftoverImg}"    }
	withLabel: umitools        { container = "file://${params.umitoolsImg}"        }
	withLabel: umitransfer     { container = "file://${params.umitransferImg}"     }
	withLabel: vardict         { container = "file://${params.vardictImg}"         }
	withLabel: vt              { container = "file://${params.vtImg}"              }
	withLabel: xengsort        { container = "file://${params.xengsortImg}"        }


}

