/*
 * -------------------------------------------------
 *  ClinBioNGS Nextflow OCA-specific config file
 * -------------------------------------------------
 * Comment or remove the line of an option to use the default value
 */

params {

	// Required parameters
	seqPanel = 'OCA'

	// Initial parameters
	manifestDir = "${projectDir}/resources/manifests/OCA"
	libraryName = 'OCA_VariantLibrary'

	// Run parameters
	startingDataType             = 'BAM'
	seqPlatform                  = 'IonTorrent'
	amplicon                     = true
	singleEnd                    = true
	prepareIontorrentBam         = true
	prepareIontorrentSamplesheet = true

	// Manifest parameters
	prepareIontorrentManifest = true
	liftoverManifest          = true

	// Pipeline steps
	deduplicationDna = false
	deduplicationRna = false
	tmb              = false
	msi              = false

	// BamQC analysis
	pctXCoverageDna = '10,50,100,200,500,1000,2000,3000'
	lowCoverageDna  = '200'
	pctXCoverageRna = '5,10,30,50,100,200,500,1000'
	lowCoverageRna  = '100'

	// SmallVariant analysis
	variantIntervalPadding = '0'
	variantMinCallers      = '3'
	variantHotspotBed      = "${params.smallVariantDir}/OCA_DNA_hg38.hotspots.bed"
	variantBlacklistBed    = "${params.smallVariantDir}/OCA_DNA_hg38.blacklist.bed"
	variantRecurrentFile   = "${params.smallVariantDir}/OCA_RecurrentMutations_20241218.txt"
	
	// CNA analysis
	cnvkitBaseline = "${projectDir}/resources/cna/OCA_reference_20240918.cnn"
	
	// Fusion analysis
	fusionFlagMinAD       = '10'
	fusionFlagMinNonFused = '0'
	fusionFlagMinDP       = '10'
	fusionFlagMinVAF      = '0.03'

	// Splicing analysis
	splicingFlagMinAD  = '100'
	splicingFlagMinDP  = '200'
	splicingFlagMinVAF = '0.03'

	// Report: DNA QC ranges
	qcRange_totalReadsDna         = '2000000-4000000'
	qcRange_alignedReadsPctDna    = '90-95'
	qcRange_ontargetReadsPctDna   = '70-90'
	qcRange_medianReadLengthDna   = '80-90'
	qcRange_medianCoverageDna     = '500-1000'
	qcRange_pct04xMeanCoverageDna = '50-60'
	qcRange_pct100xCoverageDna    = '90-95'

	// Report: RNA QC ranges
	qcRange_totalReadsRna       = '500000-1000000'
	qcRange_alignedReadsPctRna  = '70-90'
	qcRange_ontargetReadsPctRna = '50-70'
	qcRange_medianReadLengthRna = '80-90'
	
	// Modules config
	ubamIonTorrent_publish = false
	fastp_publish          = false
	cnvkit_smoothCbs       = false
	bamRealigned_suffix    = '.aligned'


}

process {
	withName: TMAP { 
		ext.args = { [
			'--end-repair 15',
			'-J 20',
			'--max-one-large-indel-rescue 60',
			'--max-amplicon-overrun-large-indel-rescue 10'
		].join(' ') }
	}
}

