/*
 * -------------------------------------------------
 *  QIAGEN Human Comprehensive cancer panel config file
 * -------------------------------------------------
 * Comment or remove the line of an option to use the default value
 */

params {

	// Required parameters
	seqPanel = 'QGN'

	// Initial parameters
	manifestDir = "${projectDir}/resources/manifests/QGN"

	// Run parameters
	startingDataType = 'FASTQ'
	seqPlatform      = 'Illumina'
	umiDna           = true
	RNA              = false

	// Manifest parameters
	dnaManifest      = "${manifestDir}/QGN_hg19.bed"
	liftoverManifest = true

	// Pipeline steps
	fastqGeneration        = false
	fastqProcessing        = false
	fastqQC                = false
	alignment              = false
	deduplication          = false
	realignment            = false
	tmb                    = false
	cna                    = false
	msi                    = false
	runLibrary             = false
	uniqueLibrary          = false

	// SmallVariant analysis
	variantIntervalPadding = '0'

	// Modules config
	fastp_umi               = true
	fastp_umi_loc           = 'read2'
	fastp_umi_len           = '12'
	fastp_umi_skip          = '11'
	umitools                = true
	bamclipping             = true
	octopus_errorModel      = 'PCR.NOVASEQ'

}

process {
	withName: FASTP { 
		ext.args = { [
			'--adapter_sequence=AGGACTCCAAT',
			'--adapter_sequence_r2=CAAAACGCAATACTGTACATT',
			'--length_required=40'
		].join(' ') }
	}

	withLabel: lowCpu   { cpus   = 4  } 
	withLabel: medCpu   { cpus   = 8  }
	withLabel: highCpu  { cpus   = 16 }
}

