/*
 * -------------------------------------------------
 *  Roche SeqCap EZ Choice custom PHC Panel config file
 * -------------------------------------------------
 * Comment or remove the line of an option to use the default value
 */

params {

	// Required parameters
	seqPanel = 'ROC'

	// Initial parameters
	manifestDir = "${projectDir}/resources/manifests/ROC"

	// Run parameters
	startingDataType = 'BAM'
	seqPlatform      = 'Illumina'
	umiDna           = true
	RNA              = false

	// Manifest parameters
	dnaManifest      = "${manifestDir}/ROC_hg38.bed"
	annotateGenesBed = true

	// Pipeline steps
	fastqGeneration        = false
	fastqProcessing        = false
	fastqQC                = false
	alignment              = false
	deduplication          = false
	realignment            = false
	tmb                    = false
	cna                    = false
	msi                    = false
	runLibrary             = false
	uniqueLibrary          = false

	// SmallVariant analysis
	variantIntervalPadding = '0'

	// Modules config
	bamAddUmiQname          = true
	gencore_supportingReads = '3'
	gencore_ratioThreshold  = '0.9'
	octopus_errorModel      = 'PCR.NOVASEQ'	

}

process {
	withName: FASTP { 
		ext.args = { [
			'-g -W 5 -q 20 -u 40 -x -3 --poly_g_min_len 3 -l 75 -c'
		].join(' ') }
	}

}

