/*
 * -------------------------------------------------
 *  Nextflow SLURM cluster config file
 * -------------------------------------------------
 * Comment or remove the line of an option to use the default value
 */

params {
	mail         = '' // --mail-user=<user>
	mail_options = '' // --mail-type=<type>
}


process {

	// Executor
	executor = 'slurm'

	// Set specific SLURM options
	clusterOptions = "${params.mail} ${params.mail_options}"

	// Queue names (if required)
	//queue = ''

	// The max rate of job submission per time unit
	submitRateLimit = '1 sec'

	// Load singularity module in the cluster (if not loaded by default)
	//module = ''
}

executor{
	// The number of tasks the executor will handle in a parallel manner
	queueSize = 100
}
