/*
 * -------------------------------------------------
 *  Thermo Fisher Oncomine Comprehensive Assay panel config file
 * -------------------------------------------------
 * Comment or remove the line of an option to use the default value
 */

params {

	// Required parameters
	seqPanel = 'TFS'

	// Initial parameters
	manifestDir = "${projectDir}/resources/manifests/TFS"

	// Run parameters
	startingDataType = 'BAM'
	seqPlatform      = 'IonTorrent'
	amplicon         = true
	singleEnd        = true
	RNA              = false

	// Manifest parameters
	dnaManifest      = "${manifestDir}/TFS_hg19.bed"
	liftoverManifest = true
	annotateGenesBed = true

	// Pipeline steps
	deduplicationDna       = false
	smallVariantAnnotation = false
	tmb                    = false
	cna                    = false
	msi                    = false
	runLibrary             = false
	uniqueLibrary          = false
	sampleReport           = false

	// SmallVariant analysis
	variantIntervalPadding      = '0'
	variantBlacklistBed         = "${manifestDir}/TFS_hg19_mask.lifted.bed"

	// Modules config
	fastp_publish = false
	

}

process {
	withName: TMAP { 
		ext.args = { [
			'--end-repair 15',
			'-J 20',
			'--max-one-large-indel-rescue 60',
			'--max-amplicon-overrun-large-indel-rescue 10'
		].join(' ') }
	}
}

