/*
 * -------------------------------------------------
 *  ClinBioNGS Nextflow TSO500-specific config file
 * -------------------------------------------------
 * Comment or remove the line of an option to use the default value
 */

params {

	// Required parameters
	seqPanel = 'TSO500'

	// Initial parameters
	manifestDir = "${projectDir}/resources/manifests/TSO500"
	libraryName = 'TSO500_VariantLibrary'

	// Run parameters
	startingDataType = 'BCL'
	seqPlatform      = 'Illumina'
	umiDna           = true

	// Manifest parameters
	dnaManifest      = "${manifestDir}/TST500C_manifest.txt"
	rnaManifest      = "${manifestDir}/MixRNA_Manifest.txt"
	manifestToBed    = true
	liftoverManifest = true

	// Pipeline steps

	// SmallVariant analysis
	variantRecurrentFile = "${params.smallVariantDir}/TSO500_RecurrentMutations_20241202.txt"
	
	// CNA analysis
	cnvkitBaseline = "${projectDir}/resources/cna/TSO500_reference_20241119.cnn"

	// MSI analysis
	msiBaseline = "${projectDir}/resources/msi/TSO500_microsatellites-hg38_homopolymer_10-20bp.list_baseline"

	// Plotting parameters
	bamqc_plotMarkChrCoverageDna = 'true'

	// Report: DNA QC ranges
	qcRange_totalReadsDna         = '10000000-50000000'
	qcRange_alignedReadsPctDna    = '90-95'
	qcRange_ontargetReadsPctDna   = '50-70'
	qcRange_medianReadLengthDna   = '80-90'
	qcRange_medianInsertSizeDna   = '70-90'
	qcRange_medianCoverageDna     = '200-400'
	qcRange_pct04xMeanCoverageDna = '70-80'
	qcRange_pct100xCoverageDna    = '80-90'

	// Report: RNA QC ranges
	qcRange_totalReadsRna       = '10000000-15000000'
	qcRange_ontargetReadsRna    = '9000000-15000000'
	qcRange_alignedReadsPctRna  = '80-90'
	qcRange_ontargetReadsPctRna = '50-70'
	qcRange_medianReadLengthRna = '80-90'
	qcRange_medianInsertSizeRna = '70-90'

	// Modules config
	fastqChangeUmiSep        = true
	gencore_scoreThreshold   = '8'
	gencore_umiDiffThreshold = '2'
	vardict_minreads         = '10'
	vardict_minfreq          = '0.0001'

}

